@media (max-width: 1500px) {
    header::before{
        left: -162px;
    }
}

@media (max-width: 1199px) {
    .header__audi-partners{
        display: none;
    }
}

@media (max-width: 1200px) {
    .car-check__request_form{
        width: 100%;
    }
    .three-field__line input, .three-field__line select{
        width: 250px;
    }
    .three-field__line input::-webkit-input-placeholder, .one-field__textarea textarea::-webkit-input-placeholder{
        font-size: 13px;
    }
    .three-field__line select{
        font-size: 13px;
    }
    .three-field__line input:-moz-placeholder, .one-field__textarea textarea:-moz-placeholder{
        font-size: 13px;
    }
    .make-often__items{
        justify-content: center;
    }
    .make-often__item{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .our-video__items{
        justify-content: center;
    }
    .our-video__item{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .our-works__slider_content .slick-prev, .our-works__slider_content .slick-next{
        margin-top: 50px;
    }
    .our-works__consult{
        flex-direction: column;
        bottom: 105px;
    }
    .our-works__consult span{
        margin-bottom: 10px;
    }
    .about__video iframe{
        width: 425px;
        height: 100%;
    }
    .offers__item{
        width: 450px;
    }
    .offer_price{
        font-size: 30px;
    }
    .blog__container{
        flex-wrap: wrap;
    }
    .blog__item{
        width: 50%;
    }
    .blog__item_name, .blog__item_short-text, .blog__item_link{
        width: 256px;
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width: 1140px) {
    .banner-advantages{
        width: 90%;
    }
}

@media (max-width: 1024px) {
    .numbers__container{
        flex-wrap: wrap;
    }
    .number1, .number2, .number3, .number4{
        width: 50%;
        padding: 0 25px;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .header_logo_description{
        display: none;
    }
    .banner__right_wrapper{
        display: none;
    }

    .three-field__line input, .three-field__line select{
        width: 200px;
    }
    .services__items{
        display: none;
    }
    .services__items_mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__items_mobile .services__item{
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .services__items_mobile .services__item span{
        word-break: break-word;
    }
    .our-works__image{
        display: none;
    }
    .about__video{
        width: 100%;
        height: 360px;
    }
    .about-video__container{
        justify-content: center;
        margin-top: 50px;
    }
    .about__video iframe{
        position: relative;
        height: 100%;
        width: 100%;
    }
    .team__wrapper{
        flex-wrap: wrap;
    }
    .team__item{
        width: 33%;
        margin-bottom: 20px;
    }
    .offers__item {
        width: 300px;
        flex-direction: column;
        align-items: center;
    }
    .certificate img{
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .header__callback_btn{
        width: 100px;
        font-size: 11px;
    }
    .header__whatsapp_whatsapp{
        display: none;
    }
    .header_address-address p, .header_address-address a, .header__phone_phone .phone_link, .header__phone_phone .working-now{
        font-size: 11px;
    }
    .header__address{
        width: 170px;
    }
    .header__logo{
        max-width: 100px;
    }
    .top-menu{
        align-items: center;
    }
    .banner-advantages__item p{
        font-size: 14px;
        margin-left: 10px;
    }
    .banner-advantages__item img{
        height: 60px;
    }
    .header__logo{
        justify-content: space-evenly;
    }
    .header__logo_audi{
        width: 50px;
        height: 30px;
    }
    .header__logo_audi img{
        width: 30px;
    }
    .header__logo > img{
        width: 30px;
    }
    .three-field__line{
        flex-direction: column;
    }
    .three-field__line input, .three-field__line select{
        width: 100%;
        margin-bottom: 30px;
    }
    .one-field__textarea{
        margin-top: 0;
    }
    .services__item{
        width: 150px;
    }
    .diagnostic-callback__form form{
        flex-direction: column;
        align-items: center;
    }
    .diagnostic-callback__form form input{
        margin-top: 20px;
        margin-right: 0;
    }
    .diagnostic-callback__footer{
        flex-wrap: wrap;
    }
    .diagnostic-callback__footer .header__whatsapp_whatsapp{
        display: flex !important;
        margin-left: 10px;
    }
    .team__item{
        width: 50%;
    }
    .offers__container{
        justify-content: center;
    }
    .offers__item{
        width: 331px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .offer_price{
        margin-bottom: 28px;
    }
    .blog{
        display: none;
    }
    .map__address{
        left: 9%;
    }
}

@media (max-width: 581px) {
    .our-works__slider_content .slick-prev{
        left: 50px;
    }
    .our-works__slider_content .slick-next{
        right: 50px;
    }
    .our-works__slider_content{
        height: 100%;
        padding: 20px;
    }
    .our-works__slider_content .slick-prev, .our-works__slider_content .slick-next{
        margin-top: 10px;
    }
    .our-works__consult{
        bottom: 185px;
    }
    .our-works h2{
        display: none;
    }
    .number1, .number2, .number3, .number4{
        width: 100%;
    }
}

@media (max-width: 529px) {
    .header__address{
        display: none;
    }
    .banner-advantages__item{
        flex-direction: column;
    }
    .banner-advantages__item p{
        font-size: 12px;
    }
    .banner-advantages__item img{
        height: 50px;
    }
    header::before{
        left: -190px;
    }
    header::after{
        opacity: 0.5;
    }
    footer.footer .top-menu{
        flex-wrap: wrap;
        justify-content: center;
        height: 280px;
    }
    .footer .header__logo{
        width: 100%;
        max-width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer .header_logo_description{
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 12px !important;
    }
    footer.footer .header__audi-partners{
        margin-left: 10px;
        display: flex;
        margin-bottom: 10px;
        width: 155px;
        font-size: 12px !important;
    }
    footer.footer .header__audi-partners span{
        font-size: 12px !important;
    }
    .footer .header__phone{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 420px) {
    .banner__left-content h1{
        font-size: 30px;
    }
    .header__logo{
        justify-content: space-evenly;
    }
    .header__logo_audi{
        width: 50px;
        height: 30px;
    }
    .header__logo_audi img{
        width: 30px;
    }
    .header__logo > img{
        width: 30px;
    }
    .team__item:nth-child(3), .team__item:nth-child(4),.team__item:nth-child(5){
        display: none;
    }
    .map__address{
        left: 0;
        right: 0;
    }
}

@media (max-width: 400px) {
    .header__phone_icon{
        display: none;
    }
    .our-video__item iframe{
        width: 300px !important;
        height: 200px !important;
    }

}