body{
    overflow-x: hidden;
    height: 1000px;
}
header{
    position: relative;
    background-image: url(../images/banner-bg.png);
    height: 708px;
    background-color: #09091C;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header::before{
    content: '';
    display: block;
    width: 231px;
    height: 233px;
    background-image: url(../images/bg_elem_before.png);
    position: absolute;
    left: -100px;
    bottom: 50px;
    background-repeat: no-repeat;
}

header::after{
    content: '';
    display: block;
    width: 161px;
    height: 150px;
    background-image: url(../images/bg_elem_after.png);
    position: absolute;
    top: 173px;
    right: -80px;
    background-repeat: no-repeat;
}


.top-menu{
    height: 75px;
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
    justify-content: space-between;
}
.header__logo{
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo_audi{
    width: 83px;
    height: 44px;
    background: #EE3428;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo_description{
    font-family: Gilroy, sans-serif;
    color: #FFFFFF;
    font-size: 12px;
}
.header__address{
    display: flex;
    justify-content: center;
    width: 250px;
    align-items: center;
}
.header__address_icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #EE3428;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.header_address-address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header_address-address p{
    font-family: Gilroy, sans-serif;
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 0;
}
.header_address-address a{
    font-family: Gilroy, sans-serif;
    color: #EE3428;
    font-size: 12px;
}

.header__audi-partners{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__audi-partners span{
    color: #FFFFFF;
    font-family: Gilroy, sans-serif;
    font-size: 13px;
}

.header__phone{
    display: flex;
    width: 170px;
    justify-content: center;
    align-items: center;
}
.header__phone_icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #EE3428;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.header__phone_phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header__phone_phone .phone_link{
    color: #FFFFFF;
    font-family: Gilroy, sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.header__phone_phone .working-now{
    margin-bottom: 0;
    color: #26D42D;
    font-family: Gilroy, sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.header__phone_phone .working-now::before{
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    background-color: #26D42D;
    border-radius: 50%;
    margin-right: 5px;
}
.header__whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__whatsapp_whatsapp{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26D42D;
    border-radius: 50%;
    margin-right: 22px;
}
.header__whatsapp i{
    color: #FFFFFF;

}
.header__callback_btn{
    border: 1px solid #EE3428;
    width: 146px;
    height: 44px;
    border-radius: 90px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Gilroy, sans-serif;
    font-size: 12px;
}
.header__callback_btn:hover{
    color: #EE3428;
}

.banner__left-content{
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner__left-content h1{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 25px;
}
.banner__left-content_description{
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 34px;
}
.banner__left-content_consult{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner__left-content_consult .consult_text{
    color: #EE3428;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 14px;
    display: block;
    margin-right: 24px;
}
.banner__left-content_consult .consult_btn{
    width: 200px;
    height: 50px;
    border-radius: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #EE3428;
}
.banner__right-content{
    width: 100%;
    height: 100%;
    background-image: url(../images/audi_header.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.header__wrapper{
    height: 782px;
    width: 100%;
    position: relative;
}
.banner-advantages{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1140px;
    height: 144px;
    background: #ffffff;
    z-index: 1000;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 23px rgba(0, 0, 0, 0.13);
}
.banner-advantages__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-advantages__item p{
    margin-left: 30px;
    font-family: Gilroy, sans-serif;
    font-size: 18px;
}

/* Request Form */
.car-check__request{
    padding-top: 100px;
    padding-bottom: 100px;
}
.car-check__request h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
}
.car-check__request_description{
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 24px;
}
.car-check__request_form{
    width: 1140px;
    margin: 30px auto 0;
}
.three-field__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.three-field__line input{
    border-left: none;
    border-right: none;
    border-top: none;
    width: 360px;
}
.three-field__line select{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #767676;
    width: 360px;
    color: #767676;
}

.three-field__line input:focus, .three-field__line input:focus-visible, .three-field__line select{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}
.one-field__textarea{
    margin-top: 50px;
}
.one-field__textarea textarea{
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #767676;
}
.one-field__textarea textarea:focus, .one-field__textarea textarea:focus-visible{
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.request-form__btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.request-form__btn input{
    width: 200px;
    height: 50px;
    border-radius: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #EE3428;
    outline: none;
    border: none;
}

/* Make often Block*/
.make-often{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/make-often-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.make-often h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}
.make-often__items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.make-often__item{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.make-often__item_title{
    text-decoration: none;
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}
.make-often__item_description{
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 13px;
    color: #000000;
    margin-top: 10px;
}

/* Photo of Service Block*/
.photo-service{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
.photo-service h2{
    font-family: "Gilroy Bold";
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.photo-service__slick1 .slick-dots, .photo-service__slick2 .slick-dots{
    position: absolute;
    bottom: 10px;
}
.photo-service__slick1 .slick-dots li button:before, .photo-service__slick2 .slick-dots li button:before{
    font-size: 12px;
    color: #FFFFFF;
}
.photo-service__slick1 .slick-dots li.slick-active button:before, .photo-service__slick2 .slick-dots li.slick-active button:before{
    color: #EE3428;
}
.photo-service__slider_title{
    text-align: center;
    color: #09091C;
    font-family: Gilroy, sans-serif;
    font-size: 24px;
    margin-bottom: 13px;
}

/* Video Block*/
.our-video{
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
.our-video h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}
.our-video__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Services */
.services{
    padding-bottom: 100px;
    background-color: #FFFFFF;
}
.services h2{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.services__items{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.services__items_line{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.services__items_line:first-child{
    margin-bottom: 35px;
}
.services__item{
    width: 100px;
}
.services__item img{
    max-height: 58px;
    margin: 0 auto;
}
.services__item span{
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
    display: block;
}
.services__items_mobile{
    display: none;
}
/* Our Works */
.our-works{
    position: relative;
    background-image: url(../images/our-works_bg.png);
    height: 650px;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}
.our-works h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: -88px;
}
.our-works > .container, .our-works > .container > .row{
    height: 100%;
}
.our-works__image{
    display: flex;
    align-items: flex-end;
}
.our-works__text{
    display: flex;
    align-items: flex-end;
    position: relative;
}
.our-works__slider_content{
    height: 515px;
    width: 100%;
}
.our-works__slider_content .slick-list{
    max-height: 300px;
}
.our-works__slider_content_title{
    display: block;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.our-works__slider_content_subtitle{
    display: block;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.our-works__slider_content_text{
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.7;
}
.our-works__slider_content .slick-prev{
    left: 0;
}
.our-works__slider_content .slick-next{
    right: 0;
}
.our-works__slider_content .slick-prev:before, .our-works__slider_content .slick-next:before{
    color: #EE3428;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 14px;
}
.our-works__slider_content .slick-prev:before{
    content: 'Назад';
}
.our-works__slider_content .slick-next:before{
    content: 'Вперед';
}
.our-works__consult{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 130px;
}
.our-works__consult .request-form__btn{
    margin-top: 0;
}
.our-works__consult span{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

/* General Prices*/
.general-prices{
    margin-top: 50px;
}
.general-prices h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
}
.general-prices .table-custom tr th:nth-child(2), .general-prices .table-custom tr td:nth-child(2){
    text-align: right;
    padding-right: 35px;
}
.general-prices .table-custom tr th:nth-child(1), .general-prices .table-custom tr td:nth-child(1){
    padding-left: 35px;
}

.general-prices .table-custom thead tr{
    background-color: #EE3428;
    color: #FFFFFF;
    font-family: Gilroy, sans-serif;
    font-size:20px;
}

.general-prices .table-custom tbody tr:nth-child(even){
    background-color: #fdebea;
}
.general-prices .table-custom tbody tr:nth-child(odd){
    background-color: #ffffff;
}

/* About */
.about{
    margin-top: 100px;
}
.about h2{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    color: #000000;
}
.about-text__container{
    padding-right: 20px;
}
.about-video__container{
    padding-left: 20px;
    display: flex;
    justify-content: right;
}
.about__content p{
    font-family: Gilroy, sans-serif;
    font-size: 18px;
}
.about .our-works__consult{
    position: inherit;
    margin-top: 45px;
}
.about .our-works__consult span{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    color: #000000;
}

/* Numbers*/
.numbers{
    margin-top: 90px;
}
.numbers h2{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    color: #000000;
    text-align: center;
}
.numbers__container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.number__number{
    display: block;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 96px;
    color: #EE3428;
}
.number__description{
    font-family: Gilroy, sans-serif;
    font-size: 22px;
    display: block;
}
.number1, .number2, .number3, .number4{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 69px;
}
.number1{
    padding-left: 0;
    padding-right: 110px;
}
.number4{
    padding-right: 0;
    padding-left: 110px;
}

/* Diagnostic Callback*/
.diagnostic-callback{
    background-image: url(../images/diagnostic_bg.png);
    background-color: #09091C;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.diagnostic-callback h2{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}
.diagnostic-callback__form form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.diagnostic-callback__form form input{
    width: 265px;
    height: 50px;
    border-radius: 91px;
    outline: none;
    border: none;
    margin-right: 20px;
}
.diagnostic-callback__form form input::-webkit-input-placeholder {
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    padding-left: 30px;
}
.diagnostic-callback__form form input:-moz-placeholder {
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    padding-left: 30px;
}
.diagnostic-callback__form form input[type=submit]{
    background-color: #EE3428;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 0;
}
.diagnostic-callback__footer{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.header__phone_icon_text{
    display: block;
    font-family: "Gilroy Bold",sans-serif;
    font-size: 20px;
}
.header__whatsapp_whatsapp_text{
    font-family: Gilroy, sans-serif;
    color: #26D42D;
    font-size: 16px;
    display: block;
    margin-left: 10px;
}
.diagnostic-callback__footer .header__whatsapp_whatsapp{
    margin-right: 0;
    margin-left: 45px;
}

/* Team */
.team{
    margin-top: 90px;
}
.team h2{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    text-align: center;
    color: #000000;
}
.team__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.team__item{
    width: 20%;
    padding: 0 10px;
}
.team__item img{
    border-radius: 10px;
}
.team__item_name{
    display: block;
    font-family: "Gilroy Bold",sans-serif;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-top: 27px;
}
.team__item_description{
    margin-top: 10px;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 11px;
    color: black;
    padding: 0 5px;
}

/* Reviews */
.reviews{
    margin-top: 90px;
    background-image: url(../images/reviews_bg.png);
    background-color: #09091C;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.reviews h2{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
}
.reviews__tablist{
    display: flex;
    justify-content: center;
    border-bottom: none;
}
.reviews__tablist .nav-link{
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.reviews__tablist .nav-link:hover{
    border-color: transparent;
}
.reviews__tablist .nav-link.active{
    background-color: transparent;
    border-color: transparent;
    color: #EE3428;
    border-bottom: 2px solid #EE3428;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
}
#google-tab::before{
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/g.png);
    display: inline-block;
    padding-right: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#gis-tab::before{
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/gis.png);
    display: inline-block;
    padding-right: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#yandexmap-tab::before{
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/yandexmap.png);
    display: inline-block;
    padding-right: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.all-reviews, .google-reviews, .gis-reviews, .yandex-reviews{
    margin-top: 35px;
}
.reviews__slider_item{
    width: 256px;
    height: 350px;
    padding: 17px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}
.reviews__slider_item_header{
    display: flex;
    justify-content: space-between;
}
.reviews__slider_item_icon{
    width: 45px;
    height: 45px;
    background-color: #EE3428;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Gilroy Bold";
    font-size: 18px;
}
.reviews__slider_item_name{
    display: flex;
    flex-direction: column;
    max-width: 90px;
}
.reviews__slider_item_name span:nth-child(1){
    font-family: "Gilroy Bold", sans-serif;
    font-size: 14px;
}
.reviews__slider_item_name span:nth-child(2){
    font-family: Gilroy, sans-serif;
    font-size: 12px;
}
.reviews__slider_item_rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews__slider_item_stars{
    display: flex;
    justify-content: center;
}
.reviews__slider_item_stars img{
    max-width: 9px;
    max-height: 9px;
}
.reviews__slider_item_rate{
    font-family: Gilroy, sans-serif;
    font-size: 12px;
}
.reviews__slider_item_body{
    margin-top: 28px;
    margin-bottom: 15px;
}
.reviews__slider_item_body p{
    font-family: Gilroy, sans-serif;
    font-size: 11px;
}
.reviews__slider_item_link a{
    font-family: Gilroy, sans-serif;
    font-size: 11px;
    color: #EE3428;
}
.reviews__links .slick-prev{
    left: 0;
}
.reviews__links .slick-next{
    right: 0;
}

.reviews__links .slick-prev:before{
    content: '';
    width: 16px;
    height: 29px;
    background-image: url(../images/icons/review_arrow_prev.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
}
.reviews__links .slick-next:before{
    content: '';
    width: 16px;
    height: 29px;
    background-image: url(../images/icons/review_arrow-next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;    /* undo display:none          */
    height: 0;         /* height:0 is also invisible */
    overflow: hidden;  /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;      /* let the content decide it  */
}

/* Offers */
.offers{
    margin-top: 90px;
}
.offers h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    color: #000000;
    margin-bottom: 35px;
}
.offers__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offers__item{
    width: 555px;
    height: 300px;
    border-radius: 10px;
    background-image: url(../images/offer-bg.png);
    background-color: #09091C;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 29px;
    margin-bottom: 50px;
}
.offers__item_content{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}
.offer_name{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}
.offer_subtitle{
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.offer_price{
    font-family: Gilroy, sans-serif;
    font-size: 36px;
}
.offers__item_button a{
    width: 196px;
    height: 36px;
    border-radius: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #EE3428;
    outline: none;
    border: none;
    cursor: pointer;
}

/* Certificates */
.certificates{
    margin-top: 90px;
}
.certificates h2{
    font-family: "Gilroy Bold", sans-serif;
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 28px;
}
.certificate{
    width: 354px;
    height: 505px;
}
.certificate{
    object-fit: cover;
}
.certificates .slick-dots{
    bottom: -40px;
}
.slick-dots li button:before{
    font-size: 16px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #EE3428;
}

/* FAQ */
.faq{
    margin-top: 100px;
}
.faq h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
}
.faq-accordion .accordion-item{
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.05);
}
.faq-accordion .accordion-button:not(.collapsed) {
    color:#09091C;
    background-color: transparent;
    box-shadow: 0 8px 19px rgba(0, 0, 0, 0.05);
}
.faq-accordion .accordion-button{
    font-family: Gilroy, sans-serif;
    font-size: 18px;
}
.faq-accordion .accordion-body{
    font-family: Gilroy, sans-serif;
    font-size: 13px;
}

/* Blog */
.blog{
    margin-top: 184px;
}
.blog h2{
    text-align: center;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 40px;
    color: #000000;
    margin-bottom: 24px;
}
.blog__container{
    display: flex;
    justify-content: space-between;
}
.blog__item{
    padding: 10px;
    width: 25%;
    border-radius: 10px;

}
.blog__item_img{
    height: 238px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.blog__item img{
    border-radius: 10px;
    object-fit: cover;
}
.blog__item:nth-child(1){
    padding-left: 0;
}
.blog__item:nth-child(4){
    padding-right: 0;
}
.blog__item_name{
    display: block;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 20px;
}
.blog__item_short-text{
    font-family: Gilroy, sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    height: 48px;
    padding: 0 20px;
}
.blog__item_short-text{
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog__item_link{
    display: block;
    font-family: Gilroy, sans-serif;
    text-decoration: none;
    color: #EE3428;
    cursor: pointer;
    font-size: 11px;
    padding: 0 20px;

}
/* Map */
.map{
    margin-top: 100px;
    position: relative;
}
.map__address{
    width: 338px;
    height: 434px;
    position: absolute;
    top: 45px;
    left: 15%;
    background-color: #ffffff;
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map__address_name{
    font-family: "Gilroy Bold", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}
.map__address_address{
    display: flex;
}
.map__address_address_text, .map__address_phone_text{
    max-width: 220px;
}
.map__address_address_text span{
    display: block;
    font-family: Gilroy, sans-serif;
    font-size: 13px;
}
.map__address_address_text a{
    display: block;
    font-family: Gilroy, sans-serif;
    font-size: 11px;
    color: #EE3428;
}
.map__address_phone{
    display: flex;
    margin-top: 20px;
}
.map__address_phone_text a{
    font-family: Gilroy, sans-serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
.map__address_phone_text .working-now {
    margin-bottom: 0;
    color: #26D42D;
    font-family: Gilroy, sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.map__address_phone_text .working-now::before {
    content: '';
    width: 4px;
    height: 4px;
    display: block;
    background-color: #26D42D;
    border-radius: 50%;
    margin-right: 5px;
}
.map__callback_btn {
    border: 1px solid #EE3428;
    width: 177px;
    height: 35px;
    border-radius: 90px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: Gilroy, sans-serif;
    font-size: 12px;
    margin-top: 10px;
}
.map__callback_btn:hover{
    background-color: #EE3428;
    color: #FFFFFF;
}
/* Footer */
footer.footer{
    background-color: #09091C;
}

footer.footer .header__callback_btn{
    width: 190px;
    height: 44px;
}
footer.footer .copiright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
}
footer.footer .copiright span{
    display: block;
    font-size: 13px;
    font-family: Gilroy, sans-serif;
    color: #ccc;
    padding-bottom: 10px;
}
footer.footer .header__audi-partners{
    display: flex;
}
.footer .header__logo{
    max-width: 200px;
}
.footer .header__logo_audi {
    width: 105px;
    height: 57px;
}
.footer .header__logo_audi img {
    width: 56px;
}
.footer .header__logo > img {
    width: 52px;
}
